# App settings
DEBUG=True
SECRET_KEY="supersecretkey"
ALLOWED_HOSTS=localhost,127.0.0.1

# Postgres container settings
POSTGRES_DB=library_db
POSTGRES_USER=library_user
POSTGRES_PASSWORD=supersecret
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis settings
REDIS_URL: redis://localhost:6379/0

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
