# Stripe Settings
STRIPE_SECRET_KEY=sk_test_51SATrbPrEFvEUCWQZWWSVCfFwguZrkKOpzOiOWA4skBEr6Mj1n6vAFpZbC9h576vT50MaQoyDhiGFKc0X0sGz6h600Zy9xtTbU
STRIPE_PUBLISHABLE_KEY=pk_test_51SATrbPrEFvEUCWQQ4eXeSTfg7Utvd91N679zQeTLGNNPmX5UHG20SnRKWASI9WL9lrPLjU0oaSLzAZeooBNQ4OC007ajQHoO3
STRIPE_WEBHOOK_SECRET=whsec_86cca3b33d655922a30776aabd640eb815a4e55c0b6de67c15ccdeed56bda235

# App settings
DEBUG=True
SECRET_KEY="supersecretkey"
ALLOWED_HOSTS=localhost,127.0.0.1

# Postgres container settings
POSTGRES_DB=library_db
POSTGRES_USER=library_user
POSTGRES_PASSWORD=supersecret
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis settings
REDIS_URL=redis://localhost:6379/0

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# Logick Settings
FINE_MULTIPLIER=1.5

#Dropbox settings
DROPBOX_OAUTH2_ACCESS_TOKEN=DROPBOX_OAUTH2_ACCESS_TOKEN
DROPBOX_OAUTH2_REFRESH_TOKEN=DROPBOX_OAUTH2_REFRESH_TOKEN
DROPBOX_APP_KEY=DROPBOX_APP_KEY
DROPBOX_APP_SECRET=DROPBOX_APP_SECRET

# Telegram settings
TELEGRAM_ADMINS_CHAT_IDS=-000000000
TELEGRAM_BOT_TOKEN=supersecrettoken
